* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    padding: 64px 128px;
    background-color: #43454D;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
}

nav ul li a:hover {
    color: #12F7D6;
}

.gap-64 {
    gap: 64px;
}

.gap-32 {
    gap: 32px;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

nav ul input {
    width: 204px;
    height: 32px;
    border-radius: 24px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 6px;
    right: 16px;
}

@media screen and (max-width: 1360px) {
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    .logo {
        width: 225px;
    }

    .search input {
        display: none;
    }

    .search img {
        display: none;
    }
}


/* Header */
header {
    border-top: 0.5px solid gray;
    background-color: #43454D;
    padding: 64px 128px 128px;
}

header h2 {
    font-size: 117px;
    text-align: center;
    color: #98FAEC;
    margin-bottom: 64px;
}

.hero-container {
    padding: 0 128px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}  

.hero-leaf {
    background-color: #292F36;
    border: 1px solid #ffffff;
    padding: 37px 22px 37px 24px;
    border-radius: 160px 0 160px ;
    
}

/* / Header */