* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

nav {
    padding: 64px 128px;
    background-color: #43454D;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
}

nav ul li a:hover {
    color: #12F7D6;
}

.gap-64 {
    gap: 64px;
}

.gap-32 {
    gap: 32px;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

nav ul input {
    width: 204px;
    height: 32px;
    border-radius: 24px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    top: 6px;
    right: 16px;
}

@media screen and (max-width: 1360px) {
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    .logo {
        width: 225px;
    }

    .search input {
        display: none;
    }

    .search img {
        display: none;
    }
}


/* Header */
header {
    border-top: 0.5px solid gray;
    background-color: #43454D;
    padding: 64px 128px 128px;
    position: relative;
}

header h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 117px;
    text-align: center;
    color: #98FAEC;
    margin-bottom: 64px;
}

.hero-container {
    padding: 0 128px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 128px;
}  

.hero-leaf {
    background-color: #292F36;
    border: 1px solid #ffffff;
    padding: 37px 22px 37px 24px;
    border-radius: 160px 0 160px ;
    min-width: 320px;
}

.hero-leaf div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.hero-leaf div img{
    margin-bottom: 16px;
}

.hero-leaf div h3 {
    color: #ffffff;
    font-size: 32px;
}

.hero-leaf div p {
    color: #ffffff;
    font-size: 14px;
}

.hero-leaf ul {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-leaf ul li {
    list-style: none;
}

.hero-leaf ul li a {
    text-decoration: none;
    display: flex;
    gap: 16px;
    align-items: center;
    color: white;
    font-size: 14px;
}

.hero-leaf ul li:nth-child(5) {
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero-leaf ul li:nth-child(5) span{
    background-color: #12F7D6;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 8px;
}

.download {
    background-color: #ffffff;
    padding: 16px 32px;
    border-radius: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    max-width: 227px;
    color: #292F36;
    text-decoration: none;
}

.sidebar {
    position: absolute;
    top: 64px;
    left: 64px;
    background-color: #1A1E23;
    padding: 8px 12px;
    border-radius: 40px;
    border: 1px solid #ffffff;
}

.sidebar li {
    list-style: none;
}

.hero-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.hero-info div:nth-child(2) {
    background-color: #1A1E23;
}

.hero-info h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 32px;
}
.hero-info h3 span {
    color: #12F7D6;
}

.hero-info p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #ffffff;
    /* margin: 64px 0 50px ; */
}

.hero-info div:nth-child(1) a{
    color: #12F7D6;
    text-decoration: none;
    font-size: 32px;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-info div:nth-child(2) {
    border-radius: 80px;
    padding: 48px 32px;
}

.hero-info div:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-info div:nth-child(2) ul li{
    font-size: 16px;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-info div:nth-child(2) ul li span{
    font-size: 48px;
    color: #12F7D6;
    font-family: "IBM Plex Mono", monospace;
}
/* / Header */

/* About Me */
.about {
    padding: 128px;
    background-color: #1A1E23;
    background-image: url('./images/about-bg.png');
    
}

.scroll {
    display: flex;
    justify-content: center;

}

.about-info {
    display: flex;
    gap: 128px;
    padding: 0px 65px 0 129px;
    margin-top: 128px;
}

.about-info-text div:nth-child(1){
    width: 367px;
    padding: 16px 40px;
    background-color: #1A1E23;
    border: 1px solid #12F7D6;
    border-radius: 40px 0 40px 0;
    margin: 37px 0 64px;
}

.about-info-text div:nth-child(1) h3{
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
}

.about-info-text div:nth-child(2){
    background-color: #292F36;
    border-radius: 40px;
    padding: 58px 40px;
}

.about-info-text div:nth-child(2) h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    color: #12F7D6;
    font-weight: 400;
}

.about-info-text div:nth-child(2) p{
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    color: #ffffff;
}

.about-info-text div:nth-child(2) p span{
    color: #12F7D6;
}


/* / About Me */